<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@using QuanLyNhaHangTTT.Models
<!DOCTYPE html>
<html lang="en">
<head>
<title>Glorious a Restaurants Category Bootstrap Responsive website Template | Home :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Glorious Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<!-- css files -->
<link href="@Url.Content("~/a/css/bootstrap.css")" rel="stylesheet" type="text/css" media="all" /> <!-- Bootstrap-Core-CSS -->
<link href="@Url.Content("~/a/css/style.css")" rel="stylesheet" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="@Url.Content("~/a/css/font-awesome.css")"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="@Url.Content("~/a/css/flexslider.css")" type="text/css" media="screen" property="" /> <!-- Flexslider-CSS -->
<link rel="stylesheet" href="@Url.Content("~/a/css/team.css")" type="text/css" media="screen" property="" /> <!-- Team-CSS -->
<link rel="stylesheet" href="@Url.Content("~/a/css/smoothbox.css")" type='text/css' media="all" /> <!-- Smoothbox-CSS -->
<link href="@Url.Content("~/a/css/wickedpicker.css")" rel="stylesheet" type='text/css' media="all" /> <!-- Time-script-CSS -->
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Oleo+Script:400,700&amp;subset=latin-ext" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body>
    <!-- banner -->
    <div data-vide-bg="@Url.Content("~/a/video/food")">
        <div class="center-container">
            <div class="banner wthree">
                <div class="container">
                    <div class="banner_top">
                        <div class="col-md-6 col-sm-4 col-xs-4 logo">
                            <h1><a href="@Url.Action("Index2", "Sanphams")">Glorious<span>Restaurant</span></a></h1>

                        </div>
                        <div class="d-none d-xl-block">
                            <div class="form-box f-right ">
                                <form action="@Url.Action("Search","Sanphams")" method="get">
                                <input type="text" name="Keyword" placeholder="Search products" value="@ViewBag.Keyword">
                                <div class="search-icon">
                                    <button type="submit" class="fas fa-search special-tag"></button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-8 w3_menu">
                            <div class="col-md-2 col-sm-2 col-xs-2 top-nav-text">
                                <a class="page-scroll" href="@Url.Action("Index2", "Sanphams")">Home</a>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 top-nav-text">
                                <a class="page-scroll" href="@Url.Action("About", "Home")">About</a>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 top-nav-text">
                                <a class="page-scroll" href="@Url.Action("Contact", "Home")">Contact</a>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 top-nav-text">
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <a class="btn header-btn" href="javascript:document.getElementById('logoutForm').submit()">Log out</a> }
                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "Account")">Log in</a>}
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 top-nav-text">
                                <a class="page-scroll" href="@Url.Action("Index", "ShoppingCart")">Cart</a>
                                @((Session["ShoppingCart"] as List <Chitietdonhang>)?.Count)
</div>



                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <!--Slider-->
                    <div class="col-md-7 callbacks_container">
                        <ul class="rslides" id="slider3">
                            <li>
                                <div class="slider-info">
                                    <h3>Fresh Food Restaurant</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </li>
                            <li>
                                <div class="slider-info">
                                    <h3>Welcome To Restaurant</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </li>
                            <li>
                                <div class="slider-info">
                                    <h3>Perfect Match For Your Restaurant</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- //Slider -->
                    <!-- form -->
                    <!-- //form -->
                </div>
            </div>

        </div>
    </div>
    <!-- //banner -->

    <section class="latest-product-area padding-bottom">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!-- footer -->
    <div class="footer" id="contact">
        <div class="container">
            <div class="agile-footer-grids">
                <div class="col-md-3 col-sm-6 col-xs-6 w3-agile-footer-grid">
                    <div class="logo-2">
                        <h2><a href="@Url.Action("Index2", "Sanphams")">Glorious<span>Restaurant</span></a></h2>
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit,</li>
                        <li>BD 2 Mars,</li>
                        <li>N° 136</li>
                        <li>Email</li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                        <li>Phone Number</li>
                        <li>+123 456 7890</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 w3-agile-footer-grid">
                    <h3>Opening Days</h3>
                    <div class="col-md-5 col-sm-5 col-xs-5 agile-opening">
                        <ul>
                            <li>Monday </li>
                            <li>Tuesday </li>
                            <li>Wednesday </li>
                            <li>Thursday </li>
                            <li>Friday </li>
                            <li>Saturday </li>
                            <li>Sunday </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 agile-opening">
                        <ul>
                            <li>8am-10pm</li>
                            <li>9am-10pm</li>
                            <li>7am-11pm</li>
                            <li>5am-11pm</li>
                            <li>6am-12pm</li>
                            <li>7am-12pm</li>
                            <li>4am-12pm</li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- copyright -->
        <!-- //copyright -->
    </div>

    <!-- //footer -->
    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="@Url.Content("~/a/js/jquery-2.1.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/a/js/bootstrap.js")"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- responsiveslider -->
    <script src="@Url.Content("~/a/js/responsiveslides.min.js")"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //responsiveslider -->
    <!-- menu -->
    <script>
        $(document).ready(function () {
            $('.mobile-nav-button').on('click', function () {
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)").toggleClass("mobile-nav-button__line--1");
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)").toggleClass("mobile-nav-button__line--2");
                $(".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)").toggleClass("mobile-nav-button__line--3");

                $('.mobile-menu').toggleClass('mobile-menu--open');
                return false;
            });
        });
    </script>
    <!-- //menu -->
    <!-- flexSlider-for-grids-section -->
    <script defer src="@Url.Content("~/a/js/jquery.flexslider.js")"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider-for-grids-section -->
    <!-- flexSlider-for-menu-section -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 2
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 3
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 4
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/a/js/jquery.flexisel.js")"></script>
    <!-- //flexSlider-for-menu-section -->
    <!-- start-smoth-scrolling -->'
    <script type="text/javascript" src="@Url.Content("~/a/js/move-top.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/a/js/easing.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- for-bottom-to-top smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //for-bottom-to-top smooth scrolling -->
    <!-- Calendar -->
    <link rel="stylesheet" href="@Url.Content("~/a/css/jquery-ui.css")" />
    <script src="@Url.Content("~/a/js/jquery-ui.js")"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!-- video-js -->
    <script src="@Url.Content("~/a/js/jquery.vide.min.js")"></script>
    <!-- //video-js -->
    <!-- smoothbox -->
    <script type="text/javascript" src="@Url.Content("~/a/js/smoothbox.jquery2.js")"></script>
    <!-- //smoothbox -->
    <!-- Time -->
    <script type="text/javascript" src="@Url.Content("~/a/js/wickedpicker.js")"></script>
    <script type="text/javascript">
        $('.timepicker').wickedpicker({ twentyFour: false });
    </script>
    <!-- //Time -->
    <!-- //js-scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>